AUTH_USER=TU_USUARIO
AUTH_PASSWORD=TU_CONTRASENA
SESSION_SECRET=GENERA_UN_SECRETO_LARGO_Y_ALEATORIO
ZEROKA_CONTROL_URL=https://TU-ZEROKA-CONTROL
ZEROKA_CONTROL_API_TOKEN=GENERA_UN_TOKEN_API_LARGO_Y_ALEATORIO
